<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pipe Chess</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">


    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>

</head>

<body>

<div style="display: none;">
    <span class="player"></span>
    <span class="glyphicon-pencil"></span>
    <span class="glyphicon-thumbs-up"></span>
</div>

<div class="row" style="width:98%; overflow: hidden; ">

    {# 3 * 5 #}
    <div id="board" style="width: 300px; height: 500px; padding: 30px; position: relative; float: left; margin-left: 10%">

        <div style="position: relative; width: 100%; height: 100%">

            {% for x in '012'|make_list %}
                {% for y in '01234'|make_list %}
                    <div id="f{{ x }}{{ y }}" class="flag"
                         style="
                                 left: {% widthratio x 3 100 %}%;
                                 top: {% widthratio y 5 100 %}%;
                                 width: 33%;
                                 height: 20%;
                                 position: absolute;
                                 cursor: pointer;
                         "
                    ></div>
                {% endfor %}
            {% endfor %}

            {% for x in '012'|make_list %}
                {% for y in '012345'|make_list %}
                    <div id="h{{ x }}{{ y }}" class="hpipe"
                         style="
                                 left: {% widthratio x 3 100 %}%;
                                 top: {% widthratio y 5 100 %}%;
                                 margin-top: -10px;
                                 width: 33%;
                                 height: 20px;
                                 background: lightgray;
                                 position: absolute;
                                 cursor: pointer;
                                 display: none;
                         "
                    ></div>
                {% endfor %}
            {% endfor %}

            {% for x in '0123'|make_list %}
                {% for y in '01234'|make_list %}
                    <div id="v{{ x }}{{ y }}" class="vpipe"
                         style="
                                 left: {% widthratio x 3 100 %}%;
                                 top: {% widthratio y 5 100 %}%;
                                 margin-left: -10px;
                                 width: 20px;
                                 height: 20%;
                                 background: lightgray;
                                 position: absolute;
                                 cursor: pointer;
                                 display: none;
                         "
                    ></div>
                {% endfor %}
            {% endfor %}

            {% for x in '0123'|make_list %}
                {% for y in '012345'|make_list %}
                    <div class="static-dot"
                         style="
                                 left: {% widthratio x 3 100 %}%;
                                 top: {% widthratio y 5 100 %}%;
                                 margin-left: -10px;
                                 margin-top: -10px;
                                 width: 20px;
                                 height: 20px;
                                 border-radius: 50%;
                                 background: gray;
                                 position: absolute;
                         "
                    ></div>
                    <div id="d{{ x }}{{ y }}" class="dot"
                         style="
                                 left: {% widthratio x 3 100 %}%;
                                 top: {% widthratio y 5 100 %}%;
                                 margin-left: -25px;
                                 margin-top: -25px;
                                 width: 50px;
                                 height: 50px;
                                 border-radius: 50%;
                                 background: lightgray;
                                 opacity: 0.1;
                                 position: absolute;
                                 cursor: pointer;
                         "
                    ></div>
                {% endfor %}
            {% endfor %}


        </div>

    </div>

    <div class="col-sm-5 col-xs-9" style="padding-top: 5px; padding-left: 10%; padding-right: 3%; ">
        <ul class="list-group" style="margin-bottom: 0">
            <li class="list-group-item list-group-item-warning">
                <span id="player1" class="player">{{ game.player1.username }}</span>
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </li>
            <li class="list-group-item list-group-item-info">
                <span id="player2" class="player">{{ game.player2.username }}</span>
                <span class="glyphicon glyphicon-pencil"></span>
                <span class="glyphicon glyphicon-thumbs-up"></span>
            </li>
        </ul>
    </div>

    <div class="col-sm-1 col-xs-3" style="padding-top: 5px; padding-left: 5%; padding-right: 0; white-space: nowrap">
        <div class="row" style="padding-top: 12px; padding-bottom: 12px">
            <a href="#" ><span class="glyphicon glyphicon-user" style="font-size: 16px">{{ user.username }}</span></a>
        </div>
        <div class="row" style="padding-top: 12px; padding-bottom: 12px;">
            <a href="#" ><span class="glyphicon glyphicon-cog" style="font-size: 16px">水管棋</span></a>
        </div>
    </div>

</div>



<script type="text/javascript">

    var i, j;

    function update_status(game) {
        var x, y, tid;
        var board = game['board'];
        var turn = game['turn'];
        var winner = game['winner'];
        var player1 = game['player1'];
        var player2 = game['player2'];

        $('.glyphicon-pencil').hide();
        $('.glyphicon-thumbs-up').hide();

        if(winner){
            $('.glyphicon-thumbs-up:eq(' + winner + ')').show();
            var winplayer = $('.player:eq(' + winner + ')').html();
            if(winplayer === '{{ user.username }}'){
                bootbox.alert('恭喜你 获得胜利！')
            } else {
                bootbox.alert(winplayer + ' 获胜')
            }
        } else {
            $('.glyphicon-pencil:eq(' + turn + ')').show();
        }

        if(player1){
            $('#player1').html(player1);
        }

        if(player2){
            $('#player2').html(player2);
        }

        for (i = 0; i < board.length; i++) {
            for (j = 0; j < board[i].length; j++) {
                var item = board[i][j];
                if (item === '—') {
                    x = (j - 1) / 2;
                    y = i / 2;
                    tid = 'h' + x + y;
                    $('#' + tid).show();
                }
                if (item === '|') {
                    x = j / 2;
                    y = (i - 1) / 2;
                    tid = 'v' + x + y;
                    $('#' + tid).show();
                }
                if (item === '1') {
                    x = (j - 1) / 2;
                    y = (i - 1) / 2;
                    tid = 'f' + x + y;
                    $('#' + tid).css('background', '#faf2cc');
                }
                if (item === '2') {
                    x = (j - 1) / 2;
                    y = (i - 1) / 2;
                    tid = 'f' + x + y;
                    $('#' + tid).css('background', '#c4e3f3');
                }
            }
        }
    }

    function try_to_draw(game_id, from_id, to_id) {
        $.ajax({
            type: 'post',
            url: '/try_to_draw/',
            data: {
                game_id: game_id,
                from_id: from_id,
                to_id: to_id
            },
            success: function (result) {
                console.log(result);
                if(result['success']){
                    game = result['game']
                    update_status(result['game']);
                } else {
                    bootbox.alert(result['detail']);
                }
            },
            error: function () {
                bootbox.alert('遇到错误');
            }
        })
    }

    $('.dot').draggable({
        revert: true
    });

    $('.dot').droppable({
        drop: function (event, ui) {
            var game_id = {{ game.id }};
            var from_id = ui.draggable[0].id;
            var to_id = event.target.id;
            try_to_draw(game_id, from_id, to_id);
        }
    });


    var board = [
        {% for line in game.board %}
            {% if forloop.counter0 %},{% endif %}
            [
                {% for item in line %}
                    {% if forloop.counter0 %},{% endif %}
                    '{{ item }}'
                {% endfor %}
            ]
        {% endfor %}
    ];

    var game = {
        board: board,
        turn: {{ game.turn }},
        winner: {{ game.winner }}
    };

    update_status(game);

    setInterval(function () {
        if(game.winner){
            return
        }
        $.ajax({
            type: 'get',
            url: '/game/{{ game.name }}/status/',
            success: function (result) {
                console.log(result);
                game = result['game']
                update_status(game);
            }
        })
    }, 2000);

</script>



</body>
</html>
